.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-blue {
  background-color: #6495ED;
}

.bg-white {
 background-color: #FFFAF0;
}

.btn-margin {
    margin-bottom: 5px;
    margin-top: 5px;
}

.text-margin {
    margin-bottom: 5px;
    margin-top: 5px;
}